

/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    /* font */
    font-family: 'PT Sans', sans-serif;
}
 /* utilities */

 img{
    width: 100%;
    display: block;
 }

 .main-container{
     width: calc(100% - 250px);
     height: calc(100vh - 90px);
     background-color: #141922;
     overflow: auto;
     color: #fff;
 }
 
 .container{
    margin: 10px;
    padding-top: 10px;
 }

.border-left{
    
    width: 2px;
    border-left: 2px solid #608E1A;
    height: 25px;
    margin-right: 10px;
    margin-left: -10px;
}




/* btn */

.upgrade-btn{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 40px;
    
}

.upgrade-btn:hover{
    scale: 1.2;
}


/* generics */





.row{
    display: flex;
    flex-wrap: wrap;
    
    
}

.album-description{
    margin-top:2rem ;
    margin-bottom: 1rem;
}

.col{
    width: calc(100% / 6 - 10px);
    margin-right: 10px;
}


.song-title{
    text-align: center;
    margin: 0.5rem 0;
}

.subtitle{
    color: #707070;
    font-size: small;
    margin-top: 0.5rem;
    display: block;
}
 /* pointer elements */
i{
    cursor: pointer;
}

li{
    cursor: pointer;
}

h4{
    cursor: pointer;
}

span{
    cursor: pointer;
}

h6{
    cursor: pointer;
}
/* text hover transformation */

.h-color:hover {
    opacity: 1;
    color: white;
}

 /* header */
 header{

    text-align: right;
     height: 80px;
     background-color:rgba(39, 38, 38, 0.6);
     
     position: sticky;
     top: 0;
     left: 0;
     right: 0;
     z-index: 2;
 }
/* main */
main{
    width: 100%;
    display: flex;
}

.service-tipe-nav{
    text-align: center;
    list-style-type: none;

    display: flex;
}


.service-list{

    
    list-style-type: none;

    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

.service-list > li{
    margin: 0 5px;

}

.service-list li a{
    font-size: small;
    text-decoration: none;
    color: #707070;
}

/* albums cover hover */

.cover{
    position: relative;
    cursor: pointer;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(19, 18, 18, 0.5);    
}

.overlay i {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.cover:hover .overlay{
    opacity: 1;

}


/* famous artitst circle */

.circle{
    border-radius: 50%;
}

.circle > img{
    border-radius: 50%;
    object-fit: cover;
}



/* side-nav */
.side-nav{
    
    padding: 0 10px;
    width: 250px;
    height: calc(100vh - 90px);
    background-color: #000000;
    color: #707070;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.serch-menu{
    

    margin: 13px 0;
    width: 25px;
    display: flex;
    align-items: center;
}
.main-logo{
    width: 50%;
    margin: 20px 0;
}

.small-logo{
    width: 50%;
    margin: 20px 0;
    display: none;
}

.home{
    cursor: pointer;
    opacity: 0.7;
}



.nav-icon-description{
    margin-left: 5px;
    font-size: small;
}

/* palylist nav */

.fa-square-plus{
    font-size: 40px;
}

.new-playlist{
    font-size: smaller;
    color: #707070;
    list-style-type: none;
}

.new-playlist > li{
    margin: 10px 0;
}

/* acount nav */

.line {
    margin: 10px 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

#user {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    vertical-align: middle;
    margin-bottom: 10px;
}

#user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}





/* footer */
footer{
    
    width: 100%;
    height: 90px;
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
/* curent song */
.curent-song{
    display: flex;
    align-items: center;
    color: #707070;
}
figure{
    width: 50px;
    height: 50px;
    margin-left: 20px;
    
}

.curent-song-title{
    color: #fff;
    margin-left: 10px;
    margin-right: 20px;
}

.subtitle.reproduction{
    font-size: xx-small;
    margin-top: 0rem;
}

/* footer media player */

.curent-song-mediaplayer{
    color: white;
    text-align: center;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mediaplayer-interaction i{
    font-size: 15px;
    margin: 0 5px;
 
}

.mediaplayer-interaction .fa-circle-play{
    font-size: 30px;
    vertical-align: middle;
    margin: 5px 10px;
}

.play-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bar{
    width: 80%;
    height: 4px;
    background-color: #5A5A5A;
    border-radius: 5px;
    cursor: pointer;
}

.moving-bar{
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #C1C1C1;
    border-radius: 5px;
    cursor: pointer;
}

.indicator{
    display: none;
    position: absolute;
    top: -6px;
    right: 0;
    color: white;
}
.play-bar  span{
    font-size: 10px;
}

/* hover */

.mediaplayer-interaction .fa-circle-play:hover{
    scale: 1.1;
}

.moving-bar:hover {
    background-color: #608E1A; 
}

.moving-bar:hover .indicator {
    display: block;
}


/* mediaplayer imput */

.mediaplayer-imp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 100%;
} 

.volume{
    width: 50%;
}

.interaction i{
    margin-right: 5px;
    color: #fff;
    font-size: 12px;
}





/***********medium  ***************/

@media screen and (max-width: 860px) {

    .col{
        width: calc(100% / 4 - 10px);
        
    }
}

/************small  **************/

@media screen and (max-width: 639px) {

    .col{
        width: calc(100% / 2 - 10px);
        
    }
}

/********* extrasmall *************/
@media screen and (max-width: 556px) {
   /* main */
    .main-container{
        width: calc(100% - 50px);
    }
    /* side-nav */

    .side-nav{
        width: 70px;
    }

    .main-logo{
        display: none;

    }

    .small-logo{
        display: block;
    }

    .nav-icon-description{
        display: none;
    }

    .playlist-nav{
        display: none;
    } 
    .disap{
        display: none;
    }
}
